:root {
    /*colors*/
    --body: #1F149E;
    --cards-color: #f8f8f8;
    --black-font: #141414;
    --color-btn-social: #FFFFFF;
    --color-btn-descarga: #FFE608;
    --blue-reference: #1B29A4;

    /*Fonts*/
    --titulo-seccion: 'Comfortaa', cursive;

    /*sizes*/
    --fourteen: 14px;
    --sixteen: 16px;
    --eighteen: 18px;
    --twenty-eight: 24px;
}

.estilo-body {
    background-color: var(--body);
}

.seccion-datos-basicos,
.seccion-voluntariados,
.seccion-experiencia-laboral,
.seccion-estudios-cursos,
.seccion-habilidades {
    background-color: var(--cards-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 16px;
}

h2, h3, h1, p {
    margin: 0;
}

.seccion-datos-basicos {
    grid-area: datos;
    margin: 24px 0 0 24px;
}

.seccion-voluntariados {
    grid-area: voluntariados;
    margin: 24px 24px 0 0;
}

.seccion-experiencia-laboral {
    grid-area: laboral;
    margin: 0 0 0 24px;
}

.seccion-estudios-cursos {
    grid-area: estudios;
}

.seccion-habilidades {
    grid-area: habilidades;
    margin: 0 24px 0 0;
}

.contenedor-grid {
    height: 100%;
    width: 100%;
    grid-template-columns: 36% 36% auto;
    grid-template-rows: 287px 234px 163px 157px;
    grid-gap: 24px;
    grid-template-areas: "datos datos voluntariados"
    "laboral estudios habilidades"
    "laboral estudios habilidades"
    "laboral estudios habilidades";
}

.icon-seccion {
    height: 48px;
    width: auto;
}

.titulo-seccion {
    font-family: var(--titulo-seccion);
    font-size: var(--eighteen);
    font-weight: bold;
    color: var(--body);
}

.titulo-principal {
    font-family: var(--titulo-seccion);
    font-size: var(--twenty-eight);
    color: var(--black-font);
    font-weight: bold;
}

.titulo-hover {
    color: transparent;
    font-size: var(--fourteen);
    font-weight: bold;
}

.seccion-datos-basicos:hover  .titulo-hover{
    color: var(--body);
}

.seccion-experiencia-laboral:hover  .titulo-hover{
    color: var(--body);
}

.seccion-estudios-cursos:hover .titulo-hover {
    color: var(--body);
}

.seccion-habilidades:hover .titulo-hover {
    color: var(--body);
}

.seccion-referencias:hover .titulo-hover {
    color: var(--body);
}

.seccion-voluntariados:hover .titulo-hover {
    color: var(--body);
}

.seccion-datos-basicos:hover {
    box-shadow: 0px 0px 33px rgba(255, 230, 8, 0.5);
}


.img-david {
    width: 161.38px;
    height: 165.26px;
    margin-right: 16px;
}

.btn-red-social,
.btn-descargar-cv {
    border-radius: 40px;
    padding: 0 8px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.18);
    font-family: var(--titulo-seccion);
    font-weight: bold;
}

.btn-red-social {
    background-color: var(--color-btn-social);
    text-decoration: none;
    color: var(--body);
    width: 178px;
    height: 50px;
}

.btn-descargar-cv {
outline: none;
border: none;
width: 185px;
    height: 50px;
    color: var(--color-btn-descarga);
    background-color: var(--body);
}

.list-style {
    color: var(--body);
}

.list-style-parrafo {
    color: var(--black-font);
    font-family: var(--titulo-seccion);
    font-size: var(--sixteen);
    font-weight: 500;
}

.body-sobre-mi {
    padding: 0 40px;
}

.banner-sobre-mi {
    border-radius: 10px;
    height: 160px;
    width: 100%;
}

.line-decorator {
    height: 5px;
    width: 70px;
    background: var(--body);
}

.subtitle-principal {
    font-family: var(--titulo-seccion);
    font-size: var(--twenty-eight);
    color: var(--black-font);
}

.linea-divisoria {
    height: 2px;
    background: black;
}

.title-card {
    font-family: var(--titulo-seccion);
    color: var(--color-btn-social);
    font-size: var(--eighteen);
}

.card-content-gustos {
    width: 267px;
    height: 267px;
}

.content-title-card-gustos {
    top: 0;
    width: 100%;
    height: 64px;
    background: rgba(0, 0, 0, 0.7);
}

.subtitle-modal {
    font-family: var(--titulo-seccion);
    font-size: var(--eighteen);
    font-weight: bold;
    color: var(--body);
}

.text-modal {
    color: var(--black-font);
    font-family: var(--titulo-seccion);
    font-size: var(--sixteen);
    width: 950px;
    line-height: 30px;
}

.content-img-comunidad-programadores,
.content-img-comfeco {
    width: 556px;
}

.content-global-img-parrafo-modal {
    width: 1567px;
}

.content-social-media {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    background: var(--color-btn-social);
}

.box {
    width: 220px;
    height: 220px;
    background: var(--cards-color);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.percent,
.circle-one {
    width: 150px;
    height: 150px;
}

.svg-circle {
    width: 160px;
    height: 160px;
}

.circle-one:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 50) / 100);
}

.circle-two:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
}

.circle-three:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 60) / 100);
}

.circle-four:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
}

.circle-five:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 30) / 100);
}

.circle-six:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 40) / 100);
}

.circle-seven:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 30) / 100);
}

.circle-eight:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 65) / 100);
}

.circle-nine:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
}

.circle-ten:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 40) / 100);
}

.circle-eleven:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 35) / 100);
}

.circle-twelve:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
}

.circle-one,
.circle-two,
.circle-three,
.circle-four,
.circle-five,
.circle-six,
.circle-seven,
.circle-eight,
.circle-nine,
.circle-ten,
.circle-eleven,
.circle-twelve {
    fill: #24262f;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}

.circle-one:nth-child(1),
.circle-two:nth-child(1),
.circle-three:nth-child(1),
.circle-four:nth-child(1),
.circle-five:nth-child(1),
.circle-six:nth-child(1),
.circle-seven:nth-child(1),
.circle-eight:nth-child(1),
.circle-nine:nth-child(1),
.circle-ten:nth-child(1),
.circle-eleven:nth-child(1),
.circle-twelve:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #9999a048;
}

.circle-one:nth-child(2),
.circle-two:nth-child(2),
.circle-three:nth-child(2),
.circle-four:nth-child(2),
.circle-five:nth-child(2),
.circle-six:nth-child(2),
.circle-seven:nth-child(2),
.circle-eight:nth-child(2),
.circle-nine:nth-child(2),
.circle-ten:nth-child(2),
.circle-eleven:nth-child(2),
.circle-twelve:nth-child(2) {
    stroke: rgb(16, 159, 255);
}

.number {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(250, 240, 181);
}

.percent-number {
    font-size: 28px;
    font-family: var(--titulo-seccion);
}

.content-global-skill {
    width: 100%;
}

.title-project {
    height: 44px;
    width: 100%;
    background: rgb(19, 19, 20);
    bottom: 0;
    font-family: var(--titulo-seccion);
    color: var(--cards-color);
    font-size: var(--sixteen);
}

.img-project {
    width: 470px;
    height: 265px;
}

.content-projects {
    text-decoration: none;
}